html {
    scroll-behavior: smooth;
}


body {
    -webkit-overflow-scrolling: auto;
    top: 0;
    left: 0;
    margin: 0;
    padding-bottom: 72px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 100%;
    color: #252525;
    text-transform: none;
}

@keyframes fade-in {
    0% {
        opacity: 1;
        transform: translateY(0); 
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes circle-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.circle {
    opacity: 0;
    position: absolute;
    border: solid 1px #252525;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    animation: circle-in 0.5s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10000;
    pointer-events: none;
}


.loading-column-1,
.loading-column-2,
.loading-column-3,
.loading-column-4 {
    opacity: 1;
    background-color: #252525;
    width: 25%;
    animation: fade-in 0.8s ease;
    animation-fill-mode: forwards;
}

.loading-column-1 {
    animation-delay: 0.90s;
}

.loading-column-2 {
    animation-delay: 1.05s;
}

.loading-column-3 {
    animation-delay: 1.2s;
}

.loading-column-4 {
    animation-delay: 1.35s;
}

::-moz-selection {
    background: rgba(0,0,0,0.05);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

footer {
    padding: 0 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    padding-top: 216px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;

}


h1 {
    color: #F94A4A;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: -2px;
    font-weight: 600;
}

h2 {
    font-size: 120px;
    line-height: 132px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -3.5px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #F94A4A;
    margin: 0 0 8px 0;
    padding-top: 172px;
}

h4 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
}

h5 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	margin: 0;
}

h6 {
	color: #a2a2a2;
	font-size: 11px;
	line-height: 18px;
	font-weight: 100;
	font-family:  'Roboto Mono', monospace;
	margin: 0;
}

blockquote {
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 100;
    padding-top: 80px;
    padding-right: 24px;
    padding-bottom: 132px;
}

a {
    color: #252525;
    text-decoration: none;
    cursor: pointer;
}

.header-left {
    font-size: 16px;
    font-weight: 600;
    padding-left: 40px;
    color: #252525;
    opacity: 1;
    transform: all 0.5 ease;
}

.opacity_0 {
    opacity: 0;

}

/*.section-name {
    position: fixed;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 16px;
    padding-left: 40px;
    bottom: 0;
    color: #a2a2a2;
    mix-blend-mode: difference;
    top: 50%;
    transform: translateY(-40px);
}*/


.header-right {
    padding-right: 40px;
}

.cross {
    transform: rotate(45deg);
    transition: transform 0.6s ease;
}

.cross-alt {
    transform: rotate(270deg);
}

.footer-left {
    grid-column-start: 1;
    grid-column-end: 6;
    color: #a2a2a2;
}

.footer-center {
    grid-column-start: 6;
    grid-column-end: 11;
}

.footer-right {
    grid-column-start: 12;
    grid-column-end: 13;
    text-align: right;
}

.container {
    padding: 0 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}


.title {
    padding-top: 120px;
    grid-column-start: 3;
    grid-column-end: 13;
}





/*projects*/

.project img {
    width: 100%;
    transition: all 0.3s ease;
}

.project-1 {
    margin-top: 64px;
    grid-column-start: 3;
    grid-column-end: 13;
}

.roject-1-info {
    position: relative;
}

.project-2 {
    margin-top: 200px;
    grid-column-start: 1;
    grid-column-end: 10;
}

.project-3 {
    margin-top: 200px;
    grid-column-start: 5;
    grid-column-end: 13;
}

.project-4 {
    margin-top: 200px;
    grid-column-start: 1;
    grid-column-end: 11;
}

.project-5 {
    margin-top: 200px;
    grid-column-start: 3;
    grid-column-end: 11;
}

.project-6 {
    margin-top: 200px;
    grid-column-start: 5;
    grid-column-end: 13;
}

.project-7 {
    margin-top: 200px;
    grid-column-start: 1;
    grid-column-end: 11;
}





/*number / title / year of the project*/

.project-info {
    display: flex;
    width: 100%;
    align-items: baseline;
}

.project-number {
    width: 10%;
    color: #F94A4A;
    max-width: 64px;
}

.project-title {
    width: 80%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.project-year {
    width: 25%;
    text-align: right;
    color: #a2a2a2;
}

.project-number, .project-year {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 16px;
}

.experience {
    padding-top: 172px;
}

.year-position {
	grid-column-end: 12;
    grid-column-start: 8;
}

.experience-description {
	padding-top: 24px;
	font-size: 14px;
	line-height: 20px;
}

.experience-5-year-position,
.experience-4-year-position,
.experience-3-year-position,
.experience-2-year-position,
.experience-1-year-position {
	opacity: 0;
    transform: translateY(8px);
    transition: all 0.4s ease;
}

.make-visible {
    opacity: 1;
    transform: translateY(0);
}

.company {
    margin-bottom: 16px;
    grid-column-start: 1;
    grid-column-end: 7;  
    transition: all 0.2s ease;
    width: fit-content;
}

.company:hover {
    color: #F94A4A;
}


/* About me */

.about-me {
    padding-top: 172px;
}

.about-me p {
	font-size: 11px;
	color: #a2a2a2;
	margin: 0;
	font-family: 'Roboto Mono', monospace;

}

.about-me a {
    color: #F94A4A;
    transition: all 0.2s ease;
}

.about-me a:hover {
    color: #252525;
}


.about-me-photo img {
    width: 100%;
}

.about-me-photo {
    margin-right: 24px;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 8;
}

.about-me-text {
    padding-top: 60px;
    color: #F94A4A;
    grid-row: 1;
    grid-column-start: 8;
    grid-column-end: 13;
    transform: translateX(24px);
    margin-right: 40px;
    margin-left: -20px;

}

.learn-more {
    grid-row: 1;
    grid-column-start: 7;
    grid-column-end: 12;
    padding-top: 0px;
    margin-left: 80px;
    transition: all 0.25s ease;
}

.learn-more a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.button {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
    padding-bottom: 4px;
    width: fit-content;
    border-bottom: 1px solid #252525;
    transition: all 0.25s ease;
}

.button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.button a {
    color: #252525;
}


/* People */

.people {
    /* background-color: #0E123F; */
    background-color: #252525;
}

.people-container {
    margin-top: 232px;
    padding-bottom: 154px;
}

.testimonial {
    border-left: 1px rgba(255,255,255,0.06) solid;
    height: auto;
    padding-left: 24px;
}

.testimonial p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}


.testimonial-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.testimonial-2 {
    grid-column-start: 4;
    grid-column-end: 7;
}


.testimonial-3 {
    grid-column-start: 7;
    grid-column-end: 10;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
}


/* Contact section */

.contact {
    padding-top: 264px;
}

.contact-info {
    grid-column-start: 1;
    grid-column-end: 8;
}

/*.contact-text {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #a2a2a2;
}*/


.contact-links-1,
.contact-links-2 {
    display: flex;
}

.contact-info a {
    color: #252525;
    font-weight:600;
    font-size: 120px;
    line-height: 132px;
    letter-spacing: -3.5px;
    padding-bottom: 24px;
    transition: all 0.2s ease;
    text-transform: none;
    width: fit-content;
}

.contact-info p {
    color: #252525;
    font-weight:600;
    font-size: 120px;
    line-height: 132px;
    letter-spacing: -3.5px;
    padding-bottom: 8px;
    transition: all 0.2s ease;
    text-transform: lowercase;
    width: fit-content;
    margin: 0 32px;
}

.contact-info a:hover {
    color: #F94A4A;
}

.contact-info h2 {
    padding-bottom: 24px;
} 



/* This is the aboutme */

.fullscreen-about {
    opacity: 0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    margin: 0;
    transition: all 0.5s ease;
}

.about-me-spacer {
    height: 100px;
}

.about-me-content {
    overflow: hidden;
    height: 100%;
}

.about-me-content-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.visible-about {
    opacity: 1;
    z-index: 50;
}

@media (max-width: 1150px) {

    .contact-info a {
        padding-bottom: 8px;
}

    .contact-info a,
    .contact-info p {
        font-size: 64px;
        line-height: 82px;
        letter-spacing: -2px
    }

    .contact-info p {
        margin: 0 16px;
    }


    h4 {
        font-size: 36px;
        line-height: 42px;
    }

}

@media (max-width: 1025px) {
    .circle {
        display: none;
    }
}


@media (max-width: 1000px) {


	.experience {
		display: block;
		margin-left: 102px;
	}

	.experience-5-year-position,
	.experience-4-year-position,
	.experience-3-year-position,
	.experience-2-year-position,
	.experience-1-year-position {
	opacity: 1;
}

    .make-visible {
        transform: translateY(8px);
    }

    .company:hover {
        color: #252525;
    }

    .contact-info a:hover {
        color: #252525;
}

    .learn-more a:hover {
        color: #252525;
    }


    .button:hover {
        border-bottom: 1px solid #252525;
    }

	.experience-description {
		max-width: 324px;
		margin-bottom: 80px;
	}

    .about-me-text {
        padding-top: 100px;
        grid-row: 1;
        grid-column-start: 7;
        grid-column-end: 13;
        padding-top: 16px;
        margin-right: 60px;
    }

    .about-me-photo {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .about-me-text h4 {
        font-size: 36px;
        line-height: 42px;

    } 

    .testimonial-3 {
        grid-column-start: 9;
        grid-column-end: 13;
    }

    .testimonial-2 {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    .testimonial-1 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .contact {
        padding-top: 132px;
    }
    

    .contact-info {
        grid-column-start: 1;
        grid-column-end: 13;
    }


    footer {
        padding-top: 132px;
    }

    blockquote {
        padding-bottom: 48px;
    }

    .people-container {
    	margin-top: 196px;
    }

}    

@media (max-width: 768px) {

    header {
        padding: 24px 0;
    }

    .experience-description-5 {
	    margin-bottom: 0px;
	}

	.experience {
		padding-top: 102px;
	}

    .header-left {
        padding-left: 24px;
    }

    .header-right {
        padding-right: 24px;
    }

    .container {
        max-width: 720px;
    }

    .title {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6,
    .project-7 {
        margin-top: 164px;
    }

    .project-7 {
	    grid-column-start: 2;
    }

    .experience h2 {
        font-size: 68px;
        line-height: 82px;
    }

    .about-me-text {
        padding-top: 80px;
        grid-row: 1;
        grid-column-start: 7;
        grid-column-end: 13;
        padding-top: 16px;
    }

  
    .about-me-photo {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .about-me-text h4 {
        font-size: 32px;
        line-height: 38px;
    }    

    .people-container {
        padding-bottom: 124px;
    }

    .contact-links-1 , .contact-links-2  {
        display: block;
    }

    .contact-links-1 p, .contact-links-2 p {
        font-size: 1px;
        line-height: 0px;
        margin: -4px;
        padding: 0;
    }

}    

@media (max-width: 740px) {


    .menu-item {
        font-size: 68px;
        line-height: 82px;
        margin-bottom: -24px;
    }

    .year-position {
    	margin-top: 32px;
    }

	h3 {
		padding-top: 96px;
	}

	.slider-arrows {
	    padding-top: 16px;
}

	.people-container {
		padding-bottom: 96px;
	}

	.testimonial-1 {
	    grid-column-start: 1;
	    grid-column-end: 10;
}

	.testimonial-2,
	.testimonial-3 {
		display: none;
	}

}

@media (max-width: 600px) {

	body {
		padding-bottom: 32px;
	}

    h1 {
        font-size: 48px;
        line-height: 54px;
    }

    h2 {
        font-size: 48px;
        line-height: 54px;
    }

    .title {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .company {
        grid-column-start: 1;
        grid-column-end: 13;  
	}

	.about-me-text h4 {
	    font-size: 24px;
	    line-height: 30px;
	}

	.about-me-photo {
	    grid-column-start: 1;
	    grid-column-end: 9;
	}

	.project-1 {
	    margin-top: 48px;
	    grid-column-start: 3;
	    grid-column-end: 13;
}

    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6,
    .project-7 {
        margin-top: 96px;
    }

    .project-6 {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    .project-7 {
        grid-column-start: 1;
        grid-column-end: 12;
    }

    .project-5 {
	    grid-column-start: 3;
	    grid-column-end: 13;
	}

    .project-3 {
        grid-column-start: 3;
    }

    .about-me {
    	display: block;
    	padding-top: 102px;
	}

	.about-me-photo {
		margin-left: 32px;
		width: 65%;
	}

	.about-me-text {
		margin-left: 80px;
		width: 70%;
	}

	.learn-more {
		margin-left: 0;
	}

	.people-container {
		margin-top: 132px;
	}

	.experience {
				margin-left: 0px;
	}

}
